body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #222;
  background: #f2f4f8; }

a {
  color: #921d1d; }
  a:hover {
    opacity: 0.9;
    color: inherit; }

.required {
  color: red; }

.opaque {
  opacity: 0.5; }

.btn:focus {
  box-shadow: none; }
.btn.btn-primary {
  background: #921d1d;
  border-color: #921d1d; }
.btn.btn-light {
  background: #e2e6ea;
  border-color: #dae0e5; }

.theme-color {
  color: #921d1d !important; }

.theme-back {
  background-color: #921d1d !important; }

.ng-cloak {
  display: none; }

.white-back {
  background: #FFF; }

.grey-back {
  background: #EEE; }

.wrapper {
  min-height: 100%;
  flex: 1; }

.page-header {
  margin-bottom: 20px; }

.head-1 {
  font-size: 30px; }

.fs-18 {
  font-size: 18px; }

.bold {
  font-weight: 600; }

.page-menu {
  position: fixed;
  top: 0;
  min-height: 100%;
  width: 100px;
  z-index: 100;
  background: #921d1d; }
  .page-menu > ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-bottom: 50px;
    display: block;
    overflow: auto; }
    .page-menu > ul > li {
      display: block;
      margin: 8px 8px;
      color: #FFF; }
      .page-menu > ul > li > a {
        display: block;
        text-align: center;
        padding: 8px 0;
        color: #FFF;
        text-decoration: none;
        border-radius: 5px; }
        .page-menu > ul > li > a i {
          font-size: 20px; }
        .page-menu > ul > li > a:hover {
          background: #a72121; }
        .page-menu > ul > li > a span {
          display: block;
          font-size: 13px; }
      .page-menu > ul > li.active > a {
        background: #a72121; }
      .page-menu > ul > li > ul {
        position: absolute;
        left: 70px;
        top: 0;
        display: none;
        background: #921d1d;
        z-index: 9999;
        padding: 10px;
        list-style: none;
        min-width: 200px;
        border-radius: 0 5px 5px 0; }
        .page-menu > ul > li > ul li a {
          text-align: left;
          padding: 5px;
          font-size: 14px;
          color: #e16767;
          display: block;
          text-decoration: none; }
          .page-menu > ul > li > ul li a:hover {
            background: #911d1d;
            color: #FFF; }
      .page-menu > ul > li:hover ul {
        display: inherit; }

.main {
  margin-left: 100px;
  min-height: 100%;
  background: #f1f4f7;
  position: relative;
  flex: 1; }
  .main .user-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFF;
    height: 50px; }

.content {
  padding: 20px; }
  .content.split {
    padding: 0;
    flex-direction: row;
    display: flex; }
    .content.split > div {
      padding: 15px; }
      .content.split > div.two {
        flex: 4; }
      .content.split > div.one {
        flex: 1;
        background: #FFF; }

.br-block {
  border: 1px dashed #CCC;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  height: 100%; }
  .br-block span {
    font-size: 12px;
    font-weight: normal;
    color: #AAA;
    display: block; }

.sidebar {
  padding: 15px;
  height: 100%;
  width: 300px;
  position: absolute;
  background: #FFF;
  right: 0;
  top: 50px;
  z-index: 9999;
  background: #921d1d; }

.form-group.has-error input, .form-group.has-error select {
  border: 1px solid #f00; }

h4.section-title {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #EEE;
  color: #555;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
  text-transform: uppercase; }
  h4.section-title.modal-title {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0; }

span.has-error {
  color: red;
  font-size: 12px; }

.fl-btn, .ex-btn {
  background: #eee;
  color: #555;
  font-size: 13px;
  margin-right: 5px; }
  .fl-btn.open, .ex-btn.open {
    background: #e16767;
    color: #000; }

.portlet {
  background: #FFF;
  border-radius: 2px;
  margin-bottom: 15px;
  border-radius: 8px; }
  .portlet .portlet-head {
    border-bottom: 1px solid #EEE;
    padding: 10px 20px 0 20px;
    height: 60px; }
    .portlet .portlet-head ul.menu {
      margin: 0;
      padding-left: 0; }
      .portlet .portlet-head ul.menu li {
        display: inline-block; }
        .portlet .portlet-head ul.menu li a {
          line-height: 50px;
          padding: 15px; }
          .portlet .portlet-head ul.menu li a:hover {
            text-decoration: none; }
        .portlet .portlet-head ul.menu li.active {
          border-bottom: 2px solid #921d1d; }
          .portlet .portlet-head ul.menu li.active a {
            line-height: 48px; }
    .portlet .portlet-head a.btn {
      margin-top: 8px;
      height: 34px; }
  .portlet .portlet-body {
    padding: 20px; }
    .portlet .portlet-body ul.pagination {
      float: right; }
      .portlet .portlet-body ul.pagination a {
        outline: none; }
        .portlet .portlet-body ul.pagination a:active, .portlet .portlet-body ul.pagination a:focus {
          outline: none;
          box-shadow: none; }
    .portlet .portlet-body .total-count {
      font-style: italic;
      color: #888;
      font-size: 12px;
      padding-top: 5px; }
      .portlet .portlet-body .total-count span {
        font-style: normal;
        color: #222; }

.table-div {
  display: table; }
  .table-div > div {
    display: table-cell;
    vertical-align: middle; }
  .table-div.full {
    width: 100%; }
  .table-div.top > div {
    vertical-align: top; }

.table-responsive, .table-cont {
  overflow-x: auto; }
  .table-responsive .table tbody tr td, .table-cont .table tbody tr td {
    vertical-align: middle; }
  .table-responsive .table tbody tr.no-bot-border td, .table-cont .table tbody tr.no-bot-border td {
    border-bottom: none; }
  .table-responsive .table tbody tr.no-top-border td, .table-cont .table tbody tr.no-top-border td {
    border-top: none; }
  .table-responsive .table td, .table-responsive .table th, .table-cont .table td, .table-cont .table th {
    padding: 0.5rem; }

.item-name {
  position: relative;
  display: inline-block;
  padding-right: 20px; }
  .item-name .item-details {
    position: absolute;
    top: -20px;
    left: 100%;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background: #921d1d;
    padding: 15px;
    display: none;
    z-index: 998; }
    .item-name .item-details.active {
      display: block; }
    .item-name .item-details.bottom {
      top: -250px; }
      .item-name .item-details.bottom .arrow {
        top: auto;
        bottom: 30px; }
    .item-name .item-details .loading-info {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      padding-top: 100px;
      text-align: center; }
    .item-name .item-details .arrow {
      position: absolute;
      top: 20px;
      left: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 10px 8px 0;
      border-color: transparent #921d1d transparent transparent; }
    .item-name .item-details .info {
      color: #FFF;
      list-style: none;
      padding-left: 0; }
      .item-name .item-details .info li {
        font-size: 12px;
        border-bottom: 1px solid #a72121;
        padding: 5px; }
        .item-name .item-details .info li label {
          display: block;
          opacity: 0.5;
          margin-bottom: 0;
          text-transform: uppercase;
          font-size: 10px;
          font-family: "Poppins", sans-serif; }
        .item-name .item-details .info li:last-child {
          border-bottom: none; }
  .item-name:hover .item-details {
    display: block; }

.pic-box {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto; }
  .pic-box a.change-pic {
    position: absolute;
    width: 200px;
    bottom: 4px;
    color: black;
    opacity: 0.7;
    font-size: 12px;
    line-height: 1;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    padding: 5px 0; }

img.round {
  border-radius: 50%;
  width: 200px;
  height: 200px; }

.container-radio {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .container-radio input:checked ~ .checkmark:after {
      display: block; }
  .container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #a72121;
    border-radius: 2px; }
    .container-radio .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
  .container-radio:hover input ~ .checkmark {
    background-color: #ccc; }
  .container-radio input:checked ~ .checkmark {
    background-color: #4CAF50; }

.group-details {
  padding: 15px;
  border: 1px solid #EEE; }
  .group-details .timings > div {
    width: 300px;
    padding: 10px;
    background: #EEE;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top; }
    .group-details .timings > div > .time {
      margin-bottom: 10px; }
    .group-details .timings > div > .coaches {
      font-size: 11px; }

.access_rights .access-right {
  padding: 15px;
  border: 1px solid #EEE;
  margin-bottom: 15px; }
  .access_rights .access-right .name {
    font-size: 15px;
    margin-bottom: 10px; }

@media only screen and (max-width: 1119px) {
  .top-menu ul li a {
    padding: 0 15px; }
    .top-menu ul li a i {
      font-size: 12px; } }
@media only screen and (max-width: 996px) {
  .top-menu ul li a {
    padding: 0 10px; }
    .top-menu ul li a i {
      font-size: 12px; } }
@media only screen and (max-width: 913px) {
  .top-menu ul li a {
    padding: 0 5px; }
    .top-menu ul li a i {
      font-size: 12px; } }
@media only screen and (max-width: 833px) {
  .top-menu ul li a {
    padding: 0 1px; }
    .top-menu ul li a i {
      font-size: 12px; } }
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 100%;
  height: 350px; }

.top-menu {
  height: 60px;
  background: #FFF;
  padding: 10px 20px;
  border-bottom: 1px solid #EEE; }
  .top-menu .switch-tab {
    display: inline-block;
    position: relative;
    margin-top: -3px; }
    .top-menu .switch-tab a {
      display: inline-block;
      color: #FFF;
      text-decoration: none;
      transition: all 0.2s ease-in; }
    .top-menu .switch-tab .main-link {
      padding: 10px 20px;
      border-radius: 5px;
      text-align: center;
      background-color: #921d1d; }
    .top-menu .switch-tab ul {
      position: absolute;
      top: 38px;
      width: 200px;
      padding-left: 0;
      background: #fff;
      display: none;
      list-style: none;
      border-radius: 0 5px 5px 5px;
      z-index: 100;
      background-color: #921d1d; }
      .top-menu .switch-tab ul li a {
        display: block;
        padding: 12px 15px;
        border-radius: 0 5px 5px 5px; }
        .top-menu .switch-tab ul li a span {
          display: inline-block;
          transition: all 0.2s ease-in; }
          .top-menu .switch-tab ul li a span i {
            margin-right: 4px; }
        .top-menu .switch-tab ul li a:hover span {
          transform: translateX(5px); }
    .top-menu .switch-tab:hover ul {
      display: block; }

.sub-header {
  padding: 8px 20px;
  background: #FFF; }

.static-info {
  margin-bottom: 10px; }
  .static-info span {
    color: #888;
    display: block;
    font-size: 12px; }

.student-list > div {
  padding: 8px;
  border-bottom: 1px solid #EEE; }
  .student-list > div:hover {
    cursor: pointer;
    background: #EEE; }
  .student-list > div.active {
    cursor: pointer;
    background: #EEE; }

.single-category {
  padding-bottom: 8px;
  margin-bottom: 16px; }
  .single-category .skill-header {
    padding: 8px 0;
    border-bottom: 1px solid #921d1d;
    margin-bottom: 8px;
    cursor: pointer; }
    .single-category .skill-header .skill-name {
      font-size: 20px;
      text-transform: uppercase;
      color: #555; }

.single-skill {
  width: 50%;
  float: left; }
  .single-skill > div {
    padding: 0 10px; }
  .single-skill .row-table {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #EEE;
    margin-bottom: 8px; }
    .single-skill .row-table .name {
      font-size: 15px;
      color: #888; }
  .single-skill .rating {
    text-align: right;
    width: 100px; }

.skill-body {
  overflow: hidden;
  -webkit-transition: all 0.5s;
  /* Safari */
  transition: all 0.5s;
  opacity: 1; }
  .skill-body:after {
    clear: both; }
  .skill-body.no-height {
    height: 0;
    opacity: 0.2; }

.single-rating > div {
  border-bottom: 1px solid #EEE;
  font-size: 16px;
  color: #555;
  padding: 10px 0; }
.single-rating .rating div.rate {
  cursor: pointer;
  display: inline-block;
  margin-right: 50px; }
  .single-rating .rating div.rate span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1; }
    .single-rating .rating div.rate span:first-child {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: #DDD; }
    .single-rating .rating div.rate span:last-child {
      color: #555; }
  .single-rating .rating div.rate.selected span:first-child {
    background: #921d1d; }
.single-rating .rating textarea {
  width: 100%;
  border: 1px solid #DDD;
  padding: 10px;
  font-size: 14px;
  color: #000;
  outline: none; }

.attendance-mark {
  text-align: center; }
  .attendance-mark span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #EEE;
    display: inline-block; }
    .attendance-mark span.present {
      background: #4caf50; }
    .attendance-mark span.absent {
      background: #f00; }

.toggle-menu-cont {
  display: none; }
  .toggle-menu-cont .toggle-menu {
    width: 36px;
    height: 36px;
    display: inline-block; }
    .toggle-menu-cont .toggle-menu i {
      position: absolute;
      display: block;
      height: 2px;
      background: #921d1d;
      opacity: 0.8;
      width: 22px;
      left: 10px;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .toggle-menu-cont .toggle-menu i:nth-child(1) {
        top: 8px; }
      .toggle-menu-cont .toggle-menu i:nth-child(2) {
        top: 16px; }
      .toggle-menu-cont .toggle-menu i:nth-child(3) {
        top: 24px; }
    .toggle-menu-cont .toggle-menu.open-menu i:nth-child(1) {
      top: 20px;
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg); }
    .toggle-menu-cont .toggle-menu.open-menu i:nth-child(2) {
      background: transparent; }
    .toggle-menu-cont .toggle-menu.open-menu i:nth-child(3) {
      top: 20px;
      -webkit-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg); }

@media only screen and (max-width: 768px) {
  .page-menu {
    display: none; }
    .page-menu.open {
      display: block;
      margin-top: 60px; }

  .main {
    margin-left: 0; }

  .content {
    padding: 20px 5px; }

  .toggle-menu-cont {
    display: inline-block; } }
.row-item {
  width: 100px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle; }
  .row-item span {
    display: block; }

.page-link.active {
  background: #a72121;
  color: #FFF; }

.table thead th, .table thead th {
  font-size: 13px;
  border-top: none;
  border-bottom: none;
  color: #888; }

.table-row-pic {
  width: 40px;
  height: 40px; }
  .table-row-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%; }

.location-tag {
  border-radius: 3px;
  border: 1px solid #921d1d;
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  margin: 3px;
  background: #FFF; }
  .location-tag span.delete {
    cursor: pointer; }

.filter-box {
  background: #EEE;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px; }

.login-bg {
  background: url("../images/banner3.jpg") no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh; }
  .login-bg label {
    color: #ffff;
    font-size: 12px; }
  .login-bg .login-control {
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    box-shadow: none;
    border-radius: 30px;
    padding: 20px;
    color: #fff;
    font-size: 14px; }
  .login-bg h1 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 30px; }
  .login-bg .table-div {
    display: table;
    width: 100%;
    margin: 0 -5px; }
    .login-bg .table-div > div {
      display: table-cell;
      width: 50%;
      padding-left: 5px;
      padding-right: 5px;
      vertical-align: middle; }
  .login-bg a {
    text-decoration: none; }
  .login-bg .login-btn {
    width: 100%;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    box-shadow: none;
    transition: all 0.3s ease;
    color: #000;
    display: block;
    text-align: center;
    font-size: 14px; }
    .login-bg .login-btn:hover {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: #fff; }
    .login-bg .login-btn:active, .login-bg .login-btn:focus {
      box-shadow: none;
      outline: none; }
  .login-bg .text-link {
    font-size: 12px;
    display: inline-block;
    color: #fff;
    text-decoration: underline; }
    .login-bg .text-link:hover {
      opacity: 0.8; }

@media only screen and (max-width: 600px) {
  .mob-mt-5 {
    margin-top: 32px; }

  .mob-mb-8 {
    margin-bottom: 8px; }

  .mob-mt-40 {
    margin-top: 40px; }

  .mob-plr-2 {
    padding-left: 8px !important;
    padding-right: 8px !important; }

  .login-bg .d-flex {
    display: block !important; }
  .login-bg .mob-w-100 {
    width: 100% !important; } }
.welcome-nav {
  position: relative;
  display: inline-block;
  transition: all 0.2s ease; }
  .welcome-nav span.name {
    padding: 10px 0;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-right: 18px;
    transition: all 0.2s ease; }
    .welcome-nav span.name:after {
      content: '';
      position: absolute;
      top: 14px;
      right: 0;
      width: 9px;
      height: 9px;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      transform: rotate(-135deg);
      transition: all 0.2s ease; }
  .welcome-nav .menu {
    position: absolute;
    width: 180px;
    right: 0;
    top: 35px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    display: none;
    text-align: left;
    transition: all 0.2s ease;
    z-index: 999; }
    .welcome-nav .menu ul {
      list-style: none;
      padding-left: 0;
      text-align: left;
      margin-bottom: 0; }
      .welcome-nav .menu ul li {
        display: block; }
        .welcome-nav .menu ul li a {
          color: inherit;
          padding: 10px;
          display: block; }
  .welcome-nav:hover span.name:after {
    top: 20px;
    transform: rotate(45deg); }
  .welcome-nav:hover .menu {
    display: block; }

.content-div {
  cursor: pointer;
  border: 1px solid #AAA;
  padding: 10px;
  max-height: 150px;
  min-height: 100px;
  overflow-y: auto;
  background: #f2f2f2; }
  .content-div table {
    width: 100%; }
    .content-div table tr, .content-div table td, .content-div table th {
      border: 1px solid #AAA;
      padding: 5px; }
  .content-div p {
    margin-top: 0;
    margin-bottom: 10px; }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%; }
  .switch input:checked + .slider {
    background-color: #2196F3; }
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px); }

.table-cal {
  width: 100%; }
  .table-cal thead tr td {
    width: 14.28%;
    text-align: center;
    color: #888; }

.day-cell {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px; }
  .day-cell div {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 2px; }
  .day-cell div.day-1 {
    background: green;
    color: #FFF; }
  .day-cell div.day-0 {
    background: red;
    color: #FFF; }

.save-tag {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 10px; }
  .save-tag.green {
    background: #28a745; }
  .save-tag.red {
    background: #e91e63; }

.center-images {
  overflow-x: auto; }

.center-images > div {
  display: inline-block;
  border: 1px solid #EEE;
  margin: 5px;
  position: relative; }

.center-images > div img {
  width: 150px;
  height: auto; }

.center-images > div > .btn-remove {
  position: absolute;
  right: 5px;
  top: 5px; }

/*# sourceMappingURL=custom.css.map */
