@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

$body_font : 'Poppins', sans-serif;
$heading_font : 'Poppins', sans-serif;

$theme_color: #921d1d;
$theme_light: lighten($theme_color, 5);
$theme_light2: lighten($theme_color, 30);

$theme_color2: #000;

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: $body_font;
	font-size: 14px;
	color: #222;
	background: #fff;
}

button {
	min-width: 150px;
	&.black {
		background: $theme_color2;
		color: #FFF;
		height: 50px;
		border-radius: 25px;
		padding-left: 20px;
		padding-right: 20px;
		&:hover {
			color: #FFF;
		}
	}
	&.close {
		min-width: auto;
	}
}

span {
	&.has-error {
		color: #F00;
	}
}

.btn {
	min-width: auto;
	&:focus {
		box-shadow: none;
	}
	&.btn-primary {
		background: $theme_color;
		border-color: $theme_color;
	}
	&.btn-light {
		background: #e2e6ea;
		border-color: #dae0e5;
	}
}